<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Slippry is a responsive content slider by booncon ROCKETS. <%= current_page.data.description || 'Slippry is truly responsive, built on modern web standards and is packed with options, so it can be as simple or complex as you want, so give it a go!' %>" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">
    <title><%= current_page.data.title || "Slippry - A responsive slider by booncon ROCKETS" %></title>
    <script src="//use.edgefonts.net/cabin:n4,i4,n7,i7;source-sans-pro:n3,i3.js"></script>
    <%= stylesheet_link_tag "//cdn-images.mailchimp.com/embedcode/slim-081711.css", "styles" %>
  </head>  
  <body class="<%= page_classes %>">
    <%= partial "header" %>
    <%= yield %>
    <%= partial "footer" %>
    <%= javascript_include_tag "//use.edgefonts.net/source-code-pro:n4,n7.js", "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", "//code.jquery.com/ui/1.10.3/jquery-ui.js", "scripts" %>
    <%= partial(:ga, :locals => {:id => "'UA-38942381-5'", :domain => "'slippry.com'"}) %>
  </body>
</html>