<section class="restricted-width example-tiles">
<%= nav_link('Out-of-the-box', '/examples/out-of-the-box/', :class => 'tile') %>
<%= nav_link('Pictures', '/examples/pictures/', :class => 'tile') %>
<%= nav_link('Portfolio', '/examples/portfolio/', :class => 'tile') %>
<%= nav_link('News', '/examples/news/', :class => 'tile') %>
<%= nav_link('Shop', '/examples/shop/', :class => 'tile') %>
<%= nav_link('Thumbnails', '/examples/thumbnails/', :class => 'tile') %>
<%= nav_link('CSS vs jQuery', '/examples/css-vs-jquery/', :class => 'tile') %>
</section>